.masterFigma_container{
    display: flex;
    margin-top: 31px;
width: 400px;
height: 166px;
background: #E9FFF7;
border-radius: 25px;
justify-content: space-around;

}

.masterFigma_icon_container{
    display: flex;
    align-items: center;
    margin: 10px;
    width: 138px;
    background: #FFFFFF;
    opacity: 0.6;
    box-shadow: 0px 34px 34px rgba(13, 46, 97, 0.05);
    border-radius: 25px;
}

.course_detail_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 23px;
    height: 118px;


}
.duration p{
    margin: 0px;
    height: 18px;
    font-family: var(--font-manrope);
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #8E9BAE;
}

.title{
    margin-top: 12px;
    height: 34px;
    font-family: var(--font-manrope);
    font-weight: 800;
    font-size: 26px;
    line-height: 120%;
    color: #10192D;

}
.subtitle{
    height: 18px;
    font-family: var(--font-manrope);
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #8E9BAE;
}

.enroll_today{
    margin-top: 14px;
    height: 18px;
    font-family: var(--font-manrope);
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    color: #3F7C66;
    cursor: pointer;
    
}